<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{:C('SITENAME')}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- css -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css"/>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
<link href="__PUBLIC__/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="__PUBLIC__/css/flexslider.css" rel="stylesheet" />
<link href="__PUBLIC__/css/style.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/show.css"/>
 <style type="text/css">
 	.btn-padding{
 		padding: 5px 10px;
 	}
 	.no-padding{
 		padding: 0;
 	}
 	.loginandregister{
 		
 		border-left: 1px solid #CCCCCC;
 		
 	}
 </style>
 
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>