<!--include head -->
<include file="Public/head"/>
<!--include head -->

<body>
<div id="wrapper">
	
	<!--include header -->
{:W('Cate/nav')}
	<!--include header -->

	
	<section id="featured">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="__PUBLIC__/img/timg.jpg" alt="" />
              </li>
              <li>
                <img src="__PUBLIC__/img/timg.jpg" alt="" />
              </li>
              <li>
                <img src="__PUBLIC__/img/timg.jpg" alt="" />
              </li>
            </ul>
        </div>
	<!-- end slider -->
	</section> 
	
		<section id="content">
	
	<div class="container">
		
	     <div class="row">
					
				<div class="left col-sm-12 col-md-7">
						<div class="col-md-12 about-us">
			<!--关于我们-->
								<div class="block-heading-two">
									<h3><span>一站式学术会议平台</span></h3>
								</div>
								<p>
											在互联网的时代中，人们生活越来越离不开网络，计算机发展成为人们工作必不可少的工具。为了让学术领域能过方便召开会议，使用互联网来提供为有需要的人们参与会议，需要一个网站来实现相关功能。
								</p>
				
								<p>
							
 	本网站是一个学术会议一站式服务平台，主要面向学术会议的整个流程，只要功能为网站创建、通知征文、注册开放、论文提交、审稿安排、评审结果、会议注册、现在报道、会议完成，该网站改善了传统纸质办公，为整个学术交流提供线上报名，线下参会的互联网服务。
								</p>
							</div>



                    <div class="topic col-md-12">
                        <div class="block-top">
                            <div class="service-header">
                                <h3>会议主题方向</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laboriosam quod voluptatibus non .
                                </p>
                            </div>
                        </div>
                    
				<hr />
				<!--会议展览列表-->
					<div class="topic list">
						<foreach name="topic" item='v'>
							<div class="list-group">
								<div>
									<div class="title"><h4><a href="{:U('/'.$value['id'])}">{$v['name']}</a></h4></div>
									<div class="content">
										{$v['introduce']}
									</div>
				<!--<div class="bottom">
					<a href="javascript(0)" class="btn btn-xs btn-padding">
											不征文
										</a>	
										
										<a href="javascript(0)" class="btn btn-xs btn-padding">
											不注册
										</a>
										<a href="javascript(0)" class="btn btn-xs btn-padding">
											参会人数：100
										</a>
				</div>-->
										
									</div>
									
									<div class="space-4"></div>

															
								</div>	
						</foreach>
					</div>
						</div><!-- .col-md-12 close -->
           			</div><!-- .container close -->
							{:W("Cate/menu")}

		</div><!-- row end -->
							
						</div>
	
	  <div class="row">
	  		
	  </div>
	</div>
	
	</section>
	
	
	
		<!--end of footer-->
<include file="Public/footer"/>
		<!--end of footer-->